<footer class="olha bg-body-tertiary text-center text-lg-start">

    <div class="pe2 text-center p-3" style="background-color:black; color: white;">
        <hr>
    </div>

    <div class="pe2 text-center p-3" style="background-color:black; color: white;">
        <img height="" class="imgLogo" src="assets/Imagens/nttPrimeLogo.png" alt="">
    </div>

    <div class="pe text-center p-3" style="background-color:black; color: white;">
      © 2024 Copyright: <a>Gabriel</a>
    </div>

  </footer>
