/* .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1850px;
} */

.fundo-pesquisa{
    margin-top: 4vh; 
    margin-left: 8vh;
    margin-right: 8vh;
    margin-bottom: 8vh;
    height: auto;
}

h1{
    color: white;
    margin-bottom: 3vh;
}

h2{
    color: white;
}

.pesquisa{
    height: auto; 
    background-color: black;
    border-radius: 1.5vh;
    padding-left: 0vh;
    padding-right: 0vh;
    padding-bottom: 0vh;
    padding-top: 0vh;
}

.fundo-filmes{
    margin-top: 0vh; 
    margin-left: 8vh;
    margin-right: 8vh;
    /* height: 75vh; */
}

.filmes{
    /* height: 65vh;  */
    /* background-color: grey; */
    border-radius: 1.5vh;
    padding: 0;
}

/* .form-pesquisa{
} */

.col-xl-3{
    margin-bottom: 2vh;
}