<section class="fundo-pesquisa">
    <h1>Pesquisar</h1>
    <div class="pesquisa">
        <form class="form-pesquisa">
            <div class="mb-3">
              <!-- <label for="exampleInputEmail1" class="form-label"><h2>Insira o nome do filme</h2></label> -->
              <input style="height: 5vh;" placeholder="Busca" type="text" class="form-control" id="exampleInputEmail1">
            </div>
            <button style="width: 15vh;" type="submit" class="btn btn-primary">Pesquisar</button>
        </form>
    </div>
</section>